/* MAIN! */
/* hero */

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.hero {
    background-color: var(--section);
}

.hero-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-text);
    display: inline-block;
    padding-top: 200px;
    padding-bottom: 30px;
    padding-left: 272px;
    padding-right: 272px;
}

.hero-main .button {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    display: inline-block;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 221px;
}

.hero-main .button.link {
    background-color: var(--hover-text);
    color: var(--second-text);
}

/* features */

.features-title {
    display: none;
}

.features-items {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text);
    width: 270px;
    height: 101px;
}

.features-items .features-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--link-text);
}

.features-list.link {
    margin: 0px;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 0px;
    display: flex;
}

.features-items:nth-last-child(n+1) {
    margin-left: 30px;
}

.features-items:first-child {
    margin-left: 0px;
}

.features-item {
    padding-bottom: 10px;
}

/* doing */

.doing {
    border: 1px solid tomato;
}

.doing-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text);
}

/* team */

.team {
    background-color: var(--section-team);
}

.team-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text);
}

.team-name {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text);
}

.team-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-text);
}